.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
 
.top-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
 
.logo {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
}
 
.user-profile {
  display: flex;
  align-items: center;
  margin: 20px;
}
 
.user-profile img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.icon-user{
  background-color: rgb(200, 203, 204);
  border-radius: 50px;
  height: 40px;
  width: 40px;
  align-items: center;
  align-content: center;
  text-align: center;
  margin:5px;
}
 
.web-avatar-conatiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: auto;
  background-color: white;
  margin-top: 1%;
  margin-bottom: 1%;
}
 
.Webcam-container {
  width: 50vw;
  height: 70vh;
  background-color: bisque;
  margin: 10px;
  border-radius: 8px;
}
 
.avatar-container {
  width: 50vw;
  height: 70vh;
  background-color: rgb(45, 38, 38);
  margin: 10px;
  border-radius: 8px;
  padding:10px;
}
 
 
.custom1 {
  height: 100px;
  background-color: white;
  padding: 10px;
  font-size: 25px;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.timer-bg{
    background-color: #f0f0f0;
    border-radius: 7px;
    width:150px;
    align-content: center;
    padding-left: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
}
 
.red-circle{
  font-size: 17px;
  color:red;
  margin-top: 20px;
}
.timer-font{
  color: black;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}
 
.custom2{
  height: 100px;
  align-items: center;
  text-align: center;
  background-color: #f0f0f0;
  padding: 10px;
}
 
.left-arrow{
  background-color: #f0f0f0;
  border-radius: 7px;
  height:60px;
  width: 60px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.right-arrow{
  background-color: #f0f0f0;
  border-radius: 7px;
  height:60px;
  width: 60px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.question-number{
  background-color: #f0f0f0;
  border-radius: 7px;
  height:60px;
  width: 190px;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 700;
  padding-top: 12px;
}
.custom3{
  height: 100px;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
 
}
 
.button-danger {
  background-color:red; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height:60px;
  font-weight: 600;
  width:200px;
  font-size: 18px;
  margin: 4px 12px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  margin-left: 30px;
}
 
.button-success {
  border: none;
  border-radius: 5px;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 60px;
  width: 200px;
  font-size: 18px;
  margin: 4px 12px;
  margin-right: 30px;
  cursor: pointer;
  transition-duration: 0.4s;
  font-weight: 600;
}
.button-container {
  align-items: center !important;
  justify-content: center;
}
 
 
.text-container{
  width: 100%;
  height:15%;
  border-radius: 8px;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.516); /* White color with 30% opacity */
  backdrop-filter: blur(10px); /* Blur effect */
  border: none;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
 
.textarea-avatar {
  width: 90%;
  border-radius: 8px;
  z-index: 2;
  color: #ffffff;
  background-color: transparent; 
  /* backdrop-filter: blur(10px); Blur effect */
  border: none;
  font-size: 25px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Subtle box shadow */
}
 
.bar-icon{
  width:10%;
  border-radius: 8px;
  z-index: 2;
  background-color: rgba(179, 174, 174, 0.464); 
  backdrop-filter: blur(10px); /* Blur effect */
  border: none;
  font-size: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-content: center;
  text-align: center;
  color:white;
  margin-right: 10px;
}
 
.app.recording-started {
  background-color: rgba(144, 238, 144, 0.5); /* Pale green with opacity */
}
 
@media (max-width: 768px) {
  .web-avatar-conatiner {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .Webcam-container{
   width:100%;
   height:40%;
   margin: 5px;
  }
}
@media (max-width: 768px) {
  .avatar-container{
    width:100vw;
    height:40vh;
    margin: 5px;
  }
}
 